  .btn-hand:hover{
    cursor: pointer;
  }
  

  .btn-increment{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: 0px;
    padding: 0 0 0 0;
  }

  .btn-decrement{
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: 0px;
    padding: 0 0 0 0;
  }

  .btn-increment:disabled{
    cursor:no-drop;
  }

  .btn-decrement:disabled{
    cursor:no-drop;
  }